services:
  ollama:
    image: timmson/qwen2.5-coder-3b:1.0
    container_name: ollama
    environment:
      - NVIDIA_VISIBLE_DEVICES=-1
    ports:
      - "11434:11434"
    restart: always

#   webui:
#     image: ghcr.io/open-webui/open-webui:main
#     container_name: webui
#     depends_on:
#       - ollama
#     ports:
#       - "8080:8080"
#     environment:
#       - ENABLE_OPENAI_API=False
#       - OLLAMA_BASE_URL=http://ollama:11434
#     restart: always
